<ion-view view-title="Mis Finds">
<ion-content class="padding">
	<div class="list card">
		<div class="item item-icon-right">
			<h2>Automóvil</h2>
			<p>Av. Constituyentes,  México DF</p>
			<a href="#/details/find-detail" nav-direction="forward" nav-transition="ios" class="icon ion-ios-arrow-right anchor positive"></a>
		</div>

		<div class="item item-image padding">
			<img src="img/car.jpg">
		</div>

		<div class="item tabs tabs-secondary tabs-icon-top ">
			<a class="tab-item" href="#">
				<i class="icon ion-ios-navigate-outline dark"></i>
				<span class="dark">Navegar</span>
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-ios-settings dark"></i>
				<span class="dark">Modificar</span>
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-ios-close-outline dark"></i>
				<span class="dark">Eliminar</span>
			</a>
		</div>		
	</div>

	<div class="list card">
		<div class="item item-icon-right">
			<h2>Llaves</h2>
			<p>Plaza Vicente Guerrero 300, Tlalmanalco, México</p>
			<a href="#/details/find-detail" nav-direction="forward" class="icon ion-ios-arrow-right anchor positive"></a>
		</div>

		<div class="item item-image padding">
			<img src="img/keys.png">
		</div>

		<div class="item tabs tabs-secondary tabs-icon-top ">
			<a class="tab-item" href="#">
				<i class="icon ion-ios-navigate-outline dark"></i>
				<span class="dark">Ver en mapa</span>
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-ios-settings dark"></i>
				<span class="dark">Modificar</span>
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-ios-close-outline dark"></i>
				<span class="dark">Eliminar</span>
			</a>
		</div>		
	</div>

	<div class="list card">
		<div class="item item-icon-right">
			<h2>Cafetería "Best Coffee"</h2>
			<p>Calle Tamaulipas 222, Col. Condesa México DF</p>
			<a href="#/details/find-detail" nav-direction="forward" class="icon ion-ios-arrow-right anchor positive"></a>
		</div>

		<div class="item item-image padding">
			<img src="img/cafe.jpg">
		</div>

		<div class="item tabs tabs-secondary tabs-icon-top ">
			<a class="tab-item" href="#">
				<i class="icon ion-ios-navigate-outline  dark"></i>
				<span class="dark">Ver en mapa</span>
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-ios-settings dark"></i>
				<span class="dark">Modificar</span>
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-ios-close-outline dark"></i>
				<span class="dark">Eliminar</span>
			</a>
		</div>		
	</div>

	
</ion-content>
